<template>
  <div class="basics">
    <h1 class="page-title">Knowledge base JS basics and ES6</h1>
    <div class="parts">
      <VarLetConst class="part-box"></VarLetConst>
      <Operators class="part-box"></Operators>
      <Objects class="part-box"></Objects>
      <Vuetify class="part-box"></Vuetify>
      <Axios class="part-box"></Axios>
    </div>
  </div>
</template>

<script>
import VarLetConst from "@/components/VarLetConst.vue";
import Operators from "@/components/Operators.vue";
import Objects from "@/components/Objects.vue";
import Vuetify from "@/components/Vuetify.vue";
import Axios from "@/components/Axios.vue";


export default {
  name: "Knowlege Base",
  components: {
    VarLetConst,
    Operators,
    Objects,
    Vuetify,
    Axios
  },
  computed:{
    
  },
  methods:{
    }
};
</script>

<style lang="scss">
@import "../style/main.scss";

.page-title {
  text-align: center;
  padding: 25px 24px 0 24px;
}

.parts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.part-box {
  width: 300px;
  margin: 50px;
  padding: 18px;
  background-color: $deep-blue;
  border-radius: 5px;
  box-shadow: 5px 10px #a3a3a3;
}

.sub-header {
  padding-top: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  font-size: 1rem;
}

.info-text {
  text-align: left;
  padding-left: 20px;
}

.section-header {
  font-size: 1.5rem;
  font-weight: 500;
}
</style>
