<template>
  <div class="datenschutz">
    <p class="ds-title">Datenschutz</p>
    <p>
      Als Webseitenbetreiber nehmen wir den Schutz aller persönlichen Daten sehr
      ernst. Alle personenbezogenen Informationen werden vertraulich und gemäß
      den gesetzlichen Vorschriften behandelt, wie in dieser
      Datenschutzerklärung erläutert.
    </p>

    <p>
      Unserer Webseite kann selbstverständlich genutzt werden, ohne dass Sie
      persönliche Daten angeben. Wenn jedoch zu irgendeinem Zeitpunkt
      persönliche Daten wie z.B. Name, Adresse oder E-Mail abgefragt werden,
      wird dies auf freiwilliger Basis geschehen. Niemals werden von uns
      erhobene Daten ohne Ihre spezielle Genehmigung an Dritte weitergegeben.
    </p>

    <p>
      Datenübertragung im Internet, wie zum Beispiel über E-Mail, kann immer
      Sicherheitslücken aufweisen. Der komplette Schutz der Daten ist im
      Internet nicht möglich.
    </p>
    <v-divider></v-divider>
    <h2>
      Auskunft, Löschung, Sperrung
    </h2>

    <p>
      Zu jedem Zeitpunkt können Sie sich über die personenbezogenen Daten, deren
      Herkunft und Empfänger und den Nutzen der Datenverarbeitung informieren
      und unentgeltlich eine Korrektur, Sperrung oder Löschung dieser Daten
      verlangen. Bitte nutzen Sie dafür die im Impressum angegebenen
      Kontaktwege. Für weitere Fragen zum Thema stehen wir Ihnen ebenfalls
      jederzeit zur Verfügung.
    </p>
    <v-divider></v-divider>
    <h2>
      Server-Log-Files
    </h2>

    <p>
      Der Seiten-Provider erhebt und speichert automatisch Daten in Server-Log
      Files, die von Ihrem Browser an uns übermittelt werden. Diese Daten
      enthalten:
    </p>

    <ul>
      <li>Browsertyp/ Browserversion</li>

      <li>Betriebssystem des Rechners</li>

      <li>Referrer URL</li>

      <li>Hostname des zugreifenden Rechners</li>

      <li>Uhrzeit der Serveranfrage</li>
    </ul>

    <p>
      Diese Daten sind nicht personenbezogen. Es erfolgt keine Zusammenführung
      dieser Daten mit anderen Datenquellen. Wenn uns konkrete Anhaltspunkte für
      eine rechtswidrige Nutzung bekannt werden behalten wir uns das Recht vor,
      diese Daten nachträglich zu überprüfen.
    </p>
    <v-divider></v-divider>
    <h2>
      Cookies
    </h2>

    <p>
      Viele Internetseiten verwenden Cookies. Cookies sind unschädlich für Ihren
      Rechner und virenfrei. Sie dienen dazu, Internet-Angebote für die Besucher
      einer Webseite freundlicher, effektiver und sicherer zu machen. Cookies
      sind kleine Textdateien, die auf Ihrem Computer abgelegt werden und die
      Ihr Browser verwendet.
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.ds-title {
  font-size: 2em;
  font-weight: 500;
  padding-bottom: 30px;
}
h2 {
  font-size: 1.5em;
}

.datenschutz {
  margin: 25px 50px 25px 50px;
}
</style>
