<template>
  <v-app>
    <div class="header-bar">
      <div class="add-btn-container header-item">
        <v-btn class="add-btn"  @click="showModal = true">
          <v-icon>fa-plus-square</v-icon>
        </v-btn>
      </div>
      <div class="select is-primary header-item">
        <select v-model="selectedSort">
          <option selected value="desc">Höchster Punktestand</option>
          <option value="asc">Niedrigster Punktestand</option>
          <option value="other">Was anderes</option>
        </select>
      </div>
    </div>
    <div class="game-grid">
      <div
        class="game-box"
        :key="index"
        v-for="({ teamA, teamB, winner, scoreA, scoreB },
        index) in gameListSorted"
      >
        <div class="vs">
          <p class="team">{{ teamA[0] }}, {{ teamA[1] }}</p>
          <p class="vs">VS</p>
          <p class="team">{{ teamB[0] }}, {{ teamB[1] }}</p>
        </div>
        <div class="winner">
          <p>{{ winner }}</p>
          <p>{{ scoreA }} - {{ scoreB }}</p>
        </div>
      </div>
    </div>
    <div v-show="showModal" class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Modal title</p>
          <button
            @click="closeModal"
            class="delete"
            aria-label="close"
          ></button>
        </header>
        <section class="modal-card-body">
          <div class="input-fields">
            <div class="input-container">
              <input
                class="modal-input input"
                v-model="newGame.teamA"
                placeholder="Spieler1, Spieler2"
                type="text"
              />
              <p v-show="teamAError" class="invalid-error">Bitte prüfen</p>
            </div>
            <div class="input-container">
              <input
                class="modal-input input"
                v-model="newGame.teamB"
                placeholder="Spieler1, Spieler2"
                type="text"
              />
              <p v-show="teamBError" class="invalid-error">Bitte prüfen</p>
            </div>
            <div class="input-container">
              <input
                class="modal-input input"
                v-model="newGame.score"
                placeholder="Punktestand"
                type="text"
              />
              <p v-show="scoreError" class="invalid-error">Bitte prüfen</p>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button @click="saveGame" class="button is-success">
            Save changes
          </button>
          <button @click="closeModal" class="button">Cancel</button>
        </footer>
      </div>
    </div>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      gameList: [],
      showModal: false,
      newGame: {
        teamA: "",
        teamB: "",
        score: ""
      },
      teamAError: false,
      teamBError: false,
      scoreError: false,
      selectedSort: "desc"
    };
  },
  computed: {
    gameListSorted() {
      let sortedList = this.sortGamesScore();
      return sortedList;
    }
  },
  methods: {
    addGame() {
      this.showModal = true;
    },
    deleteGame(gameID) {
      let index = this.gameList
        .map(function(item) {
          return item.gameID;
        })
        .indexOf(gameID);
      this.gameList.splice(index, 1);
    },
    resetData() {
      this.newGame.teamA = "";
      this.newGame.teamB = "";
      this.newGame.score = "";
    },
    toggleModal() {
      this.showModal = !this.showModal;
    },
    closeModal() {
      this.clearErrors();
      this.resetData();
      this.toggleModal();
    },
    clearErrors() {
      this.teamAError = false;
      this.teamBError = false;
      this.scoreError = false;
    },
    validatePlayerName(playerName) {
      return /^[0-9a-zA-Z]+$/.test(playerName);
    },
    validateTeam(teamString) {
      let players = teamString.split(", ");
      if (players.length != 2) return false;
      return (
        this.validatePlayerName(players[0]) &&
        this.validatePlayerName(players[1])
      );
    },
    validateScore(scoreString) {
      return /^[0-9]+-[0-9]+$/.test(scoreString);
    },
    getWinnerIndex(scoreArray) {
      if (scoreArray[0] < scoreArray[1]) {
        return 1;
      }
      if (scoreArray[0] > scoreArray[1]) {
        return 0;
      } else {
        return null;
      }
    },
    validateInput() {
      if (this.validateTeam(this.newGame.teamA)) {
        if (this.validateTeam(this.newGame.teamB)) {
          if (this.validateScore(this.newGame.score)) {
            return true;
          } else {
            this.scoreError = true;
          }
        } else {
          this.teamBError = true;
        }
      } else {
        this.teamAError = true;
      }
      return false;
    },
    saveGame() {
      this.clearErrors();
      if (this.validateInput()) {
        let score = this.newGame.score.split("-");
        let winner = this.getWinnerIndex(score);
        let winnerString = "Error";
        if (winner == null) {
          winnerString = "Unentschieden";
        }
        if (winner == 1) {
          winnerString = this.newGame.teamB;
        }
        if (winner == 0) {
          winnerString = this.newGame.teamA;
        }
        this.gameList.push({
          gameID: Math.random()
            .toString(36)
            .substr(2, 9),
          teamA: this.newGame.teamA.split(", "),
          teamB: this.newGame.teamB.split(", "),
          winner: winnerString,
          scoreA: score[0],
          scoreB: score[1]
        });
        this.closeModal();
      }
    },
    sortGamesScore() {
      let order = this.selectedSort;
      if (order === "desc") {
        return [...this.gameList].sort(this.compareScores(order));
      }
      if (order === "asc") {
        return [...this.gameList].sort(this.compareScores());
      }
      console.log("order: " + order);
      return [];
    },
    compareScores(order = "asc") {
      return function innerSort(a, b) {
        const varA = a["scoreA"] + a["scoreB"];
        const varB = b["scoreA"] + b["scoreB"];

        let comparison = 0;
        if (varA > varB) {
          comparison = 1;
        } else if (varA < varB) {
          comparison = -1;
        }
        return order === "desc" ? comparison * -1 : comparison;
      };
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../style/main.scss";
@import "../style/mixins.scss";

.game-grid {
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    justify-content: center;
  }
  @include desktop {
    justify-content: left;
    flex-direction: row;
  }
}

.header-bar {
  margin: 20px 60px 0 60px;
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    justify-content: center;
  }
  @include desktop {
    justify-content: space-between;
  }
}

.header-item {
  @include tablet {
    padding: 0 10px 20px 10px;
  }
}

.add-btn-container {
  margin-bottom: 15px;
}

.game-box {
  position: relative;
  text-align: center;
  padding: 35px;
  width: 300px;
  height: 210px;
  background-color: $light-blue;
  border-radius: 5px;
  box-shadow: 5px 10px #a3a3a3;
  margin: 60px;
}

.team {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
}
.winner {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;
  padding-top: 0.5rem;
  color: #064d12;
}
.vs {
  font-size: 0.7rem;
  line-height: 1rem;
}
.vs,
.team {
  margin-bottom: 5px;
}
.delete-game {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #0a6959;
  color: white;
}
.input-container {
  margin: 10px;
}
</style>
