<template>
  <div class="home">
    <div class="welcome-message">
      <HelloWorld msg="Welcome Henry" />
      <h2>
        Tasks for today
      </h2>
      <ul class="task-list">
        <li v-for="(task, index) in tasks" :key="index">{{ task }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "Home",
  data() {
    return {
      tasks: [
        "What are the differences between var, let and const?",
        "Javascript operators",
        "Objects - Small demo",
        "Objects, their properties and methods - Small demo",
        "ES6 - arrow functions, spread operator, .."
      ]
    };
  },
  components: {
    HelloWorld
  }
};
</script>

<style lang="scss" scoped>
.home {
  ul {
    list-style-type: none;
    line-height: 28px;
  }
}
.task-list {
  padding:0 24px 0 24px;
}
.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
