<template>
  <div class="paragraph-list">
    <strong class="i-title">Standard Impressumstext</strong>
    <p class="paragraph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni
      nam aperiam aliquam quod consectetur, voluptates quisquam maiores placeat
      rem unde aliquid sit enim similique architecto quidem natus autem. Sed.
    </p>
    <v-divider></v-divider>
    <p class="paragraph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni
      nam aperiam aliquam quod consectetur, voluptates quisquam maiores placeat
      rem unde aliquid sit enim similique architecto quidem natus autem. Sed.
    </p>
    <v-divider></v-divider>
    <p class="paragraph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni
      nam aperiam aliquam quod consectetur, voluptates quisquam maiores placeat
      rem unde aliquid sit enim similique architecto quidem natus autem. Sed.
    </p>
    <v-divider></v-divider>
    <p class="paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus alias
      cum numquam velit tempora at harum suscipit et itaque, impedit aliquam
      saepe soluta aperiam, deleniti perferendis. Reiciendis est ullam placeat?
      Bla bla bla Paragraphen Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Quidem asperiores non illum fugiat consequuntur
      doloribus, nisi, cupiditate culpa earum exercitationem nam deserunt alias
      adipisci possimus, omnis aliquam debitis corrupti ipsum!
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.paragraph-list {
  margin: 50px 50px 0 50px;
}
.i-title {
  font-size: 23px;
}
.paragraph {
  margin-top: 30px;
}
</style>
