<template>
  <v-app>
    <div class="add-btn-container">
      <v-btn class="add-btn"  @click="showModal = true">
      <v-icon>fa-plus-square</v-icon>
    </v-btn>
    </div>
    <div class="player-table">
      <div class="player-box" :key="user" v-for="user in users">
        <p class="player-name">{{ user.playername }}</p>
        <ul>
          <li class="player-info">{{ user.firstname }}</li>
          <li class="player-info">{{ user.lastname }}</li>
          <li class="player-info">{{ user.city }}</li>
        </ul>
      </div>
    </div>
    <div v-show="showModal" class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Spieler hinzufügen</p>
          <button
            @click="showModal = false"
            class="delete"
            aria-label="close"
          ></button>
        </header>
        <section class="modal-card-body">
          <div class="input-fields">
            <div class="input-container">
              <input
                class="modal-input input"
                v-model="newPlayer.playername"
                placeholder="Spielername"
                type="text"
              />
              <p v-show="playernameInvalid" class="invalid-error">
                Bitte prüfen
              </p>
            </div>
            <div class="input-container">
              <input
                class="modal-input input"
                v-model="newPlayer.firstname"
                placeholder="Vorname"
                type="text"
              />
              <p v-show="firstnameInvalid" class="invalid-error">
                Bitte prüfen
              </p>
            </div>
            <div class="input-container">
              <input
                class="modal-input input"
                v-model="newPlayer.lastname"
                placeholder="Nachname"
                type="text"
              />
              <p v-show="lastnameInvalid" class="invalid-error">Bitte prüfen</p>
            </div>
            <div class="select">
              <p v-show="cityInvalid" class="invalid-error">Bitte prüfen</p>
              <select v-model="newPlayer.city" class="modal-input">
                <option :key="index" v-for="(cityname, index) in cityList">{{
                  cityList[index]
                }}</option>
              </select>
            </div>
          </div>
          <input id="playername" type="text" />
        </section>
        <footer class="modal-card-foot">
          <button @click="saveUser" class="button is-success">
            Save changes
          </button>
          <button @click="closeModal()" class="button">Cancel</button>
        </footer>
      </div>
    </div>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      showModal: false,
      playernameInvalid: false,
      firstnameInvalid: false,
      lastnameInvalid: false,
      cityInvalid: false,
      newPlayer: {
        playername: "",
        firstname: "",
        lastname: "",
        city: ""
      }
    };
  },
  computed:{
    users(){
      return this.$store.state.playerList;
    },
    cityList(){
      return this.$store.state.cityList;
    }
  },
  methods: {
    saveUser() {
      this.playernameInvalid = false;
      this.firstnameInvalid = false;
      this.lastnameInvalid = false;
      if (this.validateInput()) {
        this.users.push({
          playername: this.newPlayer.playername,
          firstname: this.newPlayer.firstname,
          lastname: this.newPlayer.lastname,
          city: this.newPlayer.city
        });
        this.clearNewPlayer();
        this.showModal = false;
      }
    },
    closeModal() {
      this.showModal = false;
      this.clearNewPlayer();
    },
    clearNewPlayer() {
      this.newPlayer.playername = "";
      this.newPlayer.firstname = "";
      this.newPlayer.lastname = "";
      this.newPlayer.city = "";
      this.clearInvalids();
    },
    clearInvalids() {
      this.playernameInvalid = false;
      this.firstnameInvalid = false;
      this.lastnameInvalid = false;
      this.cityInvalid = false;
    },
    validateInput() {
      if (this.validateName(this.newPlayer.playername, "playername")) {
        if (this.validateName(this.newPlayer.firstname, "firstname")) {
          if (this.validateName(this.newPlayer.lastname, "lastname")) {
            if (this.validateCity()) {
              return true;
            } else {
              this.cityInvalid = true;
            }
          } else {
            this.lastnameInvalid = true;
          }
        } else {
          this.firstnameInvalid = true;
        }
      } else {
        this.playernameInvalid = true;
      }
      return false;
    },

    validateName(name, type) {
      switch (type) {
        case "firstname":
          return /[A-ZäöüÄÖÜ][a-zäöüÄÖÜ]+$/.test(name);
        case "lastname":
          return /[A-ZäöüÄÖÜ][a-zäöüÄÖÜ]+$/.test(name);
        case "playername":
          return /^[0-9a-zA-ZäöüÄÖÜ]+$/.test(name);
        default:
          return false;
      }
    },
    validateCity() {
      if (this.newPlayer.city != "") {
        return true;
      } else {
        false;
      }
    },
    getUsersFromAPI() {
      const baseURI = "https://jsonplaceholder.typicode.com/users";
      this.$http.get(baseURI).then(result => {
        this.users = result.data;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../style/main.scss";

@media (max-width:350px) {
  .add-btn-container{
    display: flex;
    justify-content: center;
  }
  .add-btn{
    width: 200px;
    margin-top: 20px;
  }
}


@media (min-width:350px) {
  .add-btn {
    width: 200px;
    margin: 20px 0 0 50px;
    color: $deep-blue;
}
}

.player-table {
  display: flex;
  flex-wrap: wrap;
}

.player-box {
  width: 300px;
  max-width: 300px;
  margin: 50px;
  padding: 18px;

  background-color: #94f1e5a8;
  border-radius: 5px;
  box-shadow: 5px 10px #a3a3a3;
  p {
    text-align: center;
    word-break: break-all;
  }
  ul {
    list-style-type: circle;
  }
}

.player-name {
  font-size: 22px;
  font-weight: 450;
}

.modal-input {
  border-style: solid;
  width: 200px;
  margin: 10px;
}

.input-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.invalid-error {
  margin: 10px;
}
</style>
