<template>
  <v-app>
    <table class="table is-striped is-fullwidth scoreboard">
      <thead>
        <th @click="changeOrder('wins')">
          Name
          <v-icon class="th-icon">fas fa-sort</v-icon>
        </th>
        <th @click="changeOrder('wins')">
          Wins
          <v-icon class="th-icon">fas fa-sort</v-icon>
        </th>
        <th @click="changeOrder('looses')">
          Looses
          <v-icon class="th-icon">fas fa-sort</v-icon>
        </th>
        <th @click="changeOrder('draws')">
          Draws
          <v-icon class="th-icon">fas fa-sort</v-icon>
        </th>
        <th @click="changeOrder('playedGames')">
          Played Games
          <v-icon class="th-icon">fas fa-sort</v-icon>
        </th>
        <th @click="changeOrder('score')">
          Score
          <v-icon class="th-icon">fas fa-sort</v-icon>
        </th>
      </thead>
      <tbody>
        <ScoreboardPlayer
          v-for="(player, index) in sortedPlayerList"
          :key="index"
          :player="player"
        >
        </ScoreboardPlayer>
      </tbody>
    </table>
  </v-app>
</template>

<script>
import ScoreboardPlayer from "../components/ScoreboardPlayer.vue";
export default {
  data() {
    return {
      playerList: [
        { playerID: 1, playerName: "Max", wins: 5, looses: 2, draws: 1 },
        { playerID: 2, playerName: "Moritz", wins: 9, looses: 4, draws: 0 },
        { playerID: 3, playerName: "Felix", wins: 4, looses: 1, draws: 0 },
        { playerID: 4, playerName: "Anna", wins: 3, looses: 3, draws: 2 }
      ],
      listOrder: "wins",
      currentOrder: "desc"
    };
  },
  components: {
    ScoreboardPlayer
  },
  computed: {
    playerListWithScore() {
      let newPlayerList = [];
      this.playerList.forEach(player => {
        player.score = player.wins * 3 + player.draws;
        player.playedGames = player.wins + player.draws + player.looses;
        newPlayerList.push(player);
      });
      return newPlayerList;
    },
    sortedPlayerList() {
      return this.sortPlayersbyProperty(this.listOrder);
    },
    calculateScore(player) {
      let points = player.wins * 3 + player.draws;
      return points;
    },
    playedGames(player) {
      return player.wins + player.draws + player.looses;
    }
  },
  methods: {
    sortPlayersbyProperty(property) {
      if (this.currentOrder === "desc") {
        return [...this.playerListWithScore].sort((a, b) => a[property] - b[property]);
      } else if (this.currentOrder === "asc") {
        return [...this.playerListWithScore].sort((a, b) => b[property] - a[property]);
      } else {
        return [];
      }
    },
    toggleOrder() {
      this.currentOrder === "desc"
        ? (this.currentOrder = "asc")
        : (this.currentOrder = "desc");
    },
    changeOrder(key) {
      this.listOrder = key;
      this.toggleOrder();
    },
  }
};
</script>

<style lang="scss">
.scoreboard {
  margin: 20px;
}
.th-icon {
  margin: 8px;
}
th:hover {
  cursor: pointer;
}
</style>
