@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
$default-font : 'Fira Sans', sans-serif;


$deep-blue:  #94f1e5a8;
$light-blue: #b4f2ea;


h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;    
  }

