<template>
  <div class="kb-section">
    <p class="section-header">Axios</p>
    <p class="info-text">- Node Module for API Requests</p>
    <p class="info-text"></p>
    <p class="info-text"></p>
    <p class="info-text"></p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      users: []
    };
  },
  methods: {},
  mounted() {
    const baseURI = "https://jsonplaceholder.typicode.com/users";
    this.$http.get(baseURI).then(result => {
      console.log("getting data");
      this.users = result.data;
    });
  }
};
</script>

<style lang="scss"></style>
