<template>
  <v-footer padless>
    <v-card
      flat
      tile
      width="100%"
      class="lighten-1 text-center"
      color="#94f1e5a8"
    >
      <v-card-text>
        <v-btn color="black" text rounded href="/impressum">
          Impressum
        </v-btn>
        <v-btn color="black" text rounded href="/datenschutz">
          Datenschutz
        </v-btn>
      </v-card-text>

      <v-card-text class="black--text">
        {{ new Date().getFullYear() }} — <strong>Divae</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {};
</script>

<style lang="scss"></style>
