<template>
  <div v-show="showModal" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Login</p>
        <button @click="toggleModal" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <p class="error-message" v-show="showError">
          Benutzername oder Kennwort Falsch
        </p>
        <div class="input-fields">
          <input
            placeholder="Benutzername"
            class="modal-input"
            v-model="username"
            type="text"
          />
          <input
            placeholder="Passwort"
            class="modal-input"
            v-model="password"
            type="password"
          />
        </div>
      </section>
      <footer class="modal-card-foot">
        <button @click="login" class="button is-success">Login</button>
        <button @click="toggleModal" class="button">Abbrechen</button>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showModal: false,
      username: "",
      password: "",
      users: [
        { username: "HNA", password: "Password" },
        { username: "DHO", password: "Password" },
        { username: "MST", password: "Password" },
        { username: "VBO", password: "Password" }
      ],
      loggedIn: false,
      showError: false
    };
  },
  methods: {
    toggleModal() {
      this.showModal = !this.showModal;
    },
    checkUser(user) {
      if (user.username == this.username && user.password == this.password) {
        return true;
      }
      return false;
    },
    login() {
      if (this.users.some(this.checkUser)) {
        this.$emit("loggedin");
        this.toggleModal();
      } else {
        this.showError = true;
      }
    }
  },
  watch: {
    showModal: function() {
      this.username = "";
      this.password = "";
      this.showError = false;
    }
  }
};
</script>

<style lang="scss">
.modal-input {
  border-style: solid;
  width: 200px;
  margin: 10px;
  padding: 4px;
}

.input-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: black;
}

.error-message {
  color: #691b1b;
}
.modal{
  padding:20px;
}
</style>
