<template>
  <nav class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://localhost:8080/">
        <img class="logo" src="../img/Logo.png" />
      </a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
        @click="showNav = !showNav"
        :class="{ 'is-active': showNav }"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" :class="{ 'is-active': showNav }">
      <div class="navbar-start">
        <a
          class="navbar-item"
          @click="showNav = !showNav"
          v-for="({ route, name }, index) in links"
          :key="index"
        >
          <router-link :to="route">{{ name }}</router-link>
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a v-show="!userLoggedIn" @click="login" class="button is-primary"
            >Log In</a
          >
          <a
            v-show="userLoggedIn"
            @click="userLoggedIn = false"
            class="button is-primary"
            >Log Out</a
          >
        </div>
      </div>
    </div>
    <loginmodal @loggedin="userLoggedIn = true" ref="loginmodal"></loginmodal>
  </nav>
</template>

<script>
import LoginModal from "../components/LoginModal.vue";

export default {
  data() {
    return {
      links: [
        { route: "/", name: "Home" },
        { route: "/basics", name: "Basics" },
        { route: "/players", name: "Players" },
        { route: "/games", name: "Games" },
        { route: "/scores", name: "Scores" }
      ],
      showNav: false,
      userLoggedIn: false
    };
  },
  components: {
    loginmodal: LoginModal
  },
  methods: {
    login() {
      this.$refs.loginmodal.toggleModal();
    },
    logout() {}
  }
};
</script>

<style lang="scss">
.logo {
  height: 50px;
}</style
>dsa
