<template>
  <div class="kb-section">
    <p class="section-header">Objects</p>
    <p class="sub-header">Object Declaration</p>
    <p class="info-text">- instance with key:value pairs</p>
    <p class="info-text">- key is member, value can be value or function</p>
    <p class="info-text">- initiated with {} after =</p>
    <p class="info-text">- accessing with var.name</p>
    <button @click="buttonClick()">Create Testobject</button>
  </div>
</template>

<script>
export default {
  name: "Objects",
  methods: {
    buttonClick() {
      console.log("Button clicked");
      var testObject = {
        memberA: "Alpha",
        memberB: 5,
        funcA: function() {
          console.log("TestObject function A");
        }
      };
      console.log("Testobject created");
      console.log("Testobject.memberA: " + testObject.memberA);
      console.log("Testobject.memberB: " + testObject.memberB);
      testObject.funcA();
    }
  }
};
</script>

<style lang="scss"></style>
