<template>
  <div class="kb-section">
    <p class="section-header">ES6 Operators</p>
    <p class="sub-header">Condtional Operators</p>
    <p class="info-text">- Expression ? doIf : doElse</p>
    <p class="info-text">- not without else part</p>

    <p class="sub-header">Type Operators</p>
    <p class="info-text">- typeof varname</p>
    <p class="info-text">- returns string of type of variable</p>

    <p class="sub-header">Spread Operators</p>
    <p class="info-text">- spreads array in individual array elements</p>
    <p class="info-text">- ...</p>
    <p class="info-text">- arr=[10,20,30]; [a,b,c] = arr</p>
    <p class="info-text">- arr=[10,20,30]; [a, ...rest] = arr</p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss"></style>
