<template>
  <tr>
    <td>{{ player.playerName }}</td>
    <td>{{ player.wins }}</td>
    <td>{{ player.looses }}</td>
    <td>{{ player.draws }}</td>
    <td>{{ player.playedGames }}</td>
    <td>{{ player.score }}</td>
  </tr>
</template>

<script>
export default {
  props: {
    player: {
      playername: { required: true, type: String },
      wins: { required: true, type: Number },
      losses: { required: true, type: Number },
      draws: { required: true, type: Number },
      palyedGames: { required: true, type: Number },
      score: { required: true, type: Number},
    }
  }
};
</script>

<style lang="scss"></style>
