<template>
  <div class="kb-section">
    <p class="section-header">Var, Let & Const</p>

    <p class="sub-header">Const</p>
    <p class="info-text">- the identifier <b>can't</b> be reassigned</p>

    <p class="sub-header">Let</p>
    <p class="info-text">- the identifier <b>can</b> be reassigned</p>
    <p class="info-text">- used in loops & algorithms</p>
    <p class="info-text">- used only in the block that defined it</p>
    <p class="info-text">- can only be accessed when initialized</p>

    <p class="sub-header">Var</p>
    <p class="info-text">- not used frequently</p>
    <p class="info-text">- weakest signal variable</p>
    <p class="info-text">- can be used wherever and whenever wanted</p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
