<template>
  <div class="kb-section">
    <p class="section-header">Vuetify</p>
    <p class="info-text">- mainstreamed Design for Websites</p>
    <p class="info-text"></p>
    <p class="info-text"></p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss"></style>
