<template>
  <v-app id="app">
    <v-content>
      <div>
        <Navbar></Navbar>
        <router-view />
      </div>
    </v-content>
    <CustomFooter> </CustomFooter>
  </v-app>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import CustomFooter from "@/components/CustomFooter.vue";
import VueHead from "vue-head";
import Vue from "vue";

Vue.use(VueHead);

export default {
  data(){
    return {
      title: "My Title"
    }
  },
  name: "App",
  components: {
    Navbar,
    CustomFooter
  },
  head: {
    title: function() {
      return {
        inner: this.title
      };
    }
  },
};
</script>

<style lang="scss">
@import "~bulma/css/bulma.css";
@import "style/main.scss";

#app {
  font-family: $default-font;
}
</style>
